.profile__edit {
  background-image: url(../../../image/pen.svg);
  background-color: #000;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-left: 18px;
  transition: .3s;
}

@media screen and (max-width: 919px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
  }
}
