.card__in-trash {
  position: absolute;
  top: 18px;
  right: 15px;
  background-image: url(../../../image/trash.svg);
  width: 22px;
  height: 19px;
  background-position: center;
  border: none;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  padding: 0;
  outline: none;
  background-repeat: no-repeat;
}

.card__in-trash:hover {
  opacity: 0.5;
  transition: 2s;
}
