.popup__close {
  border: 0;
  position: absolute;
  right: -28px;
  top: -28px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-image: url(../../../image/close.svg);
  background-position: center;
  background-color: transparent;
  outline: none;
}

.popup__close:hover {
  opacity: 0.6;
  transition: 2s;
}

@media screen and (max-width: 780px) {
  .popup__close {
    right: -3px;
    top: -50px;
    background-size: 37px;
  }
}
