.card__like {
  background-image: url(../../../image/like.svg);
  width: 22px;
  height: 19px;
  background-position: center;
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 0;
  outline: none;
  transition: .3s;
}
